<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>

<body>
    <h2>Your search for <span data-th-text="${query}"></span> returned the following results:</h2>
    <table>
        <tr data-th-each="game : ${gamesList}">
            <td>
                <a data-th-href="@{/game/{gid}(gid=*{game.gid})}"><span data-th-text="*{game.name}"></span></a>
            </td>
        </tr>
    </table>
</body>

</html>